<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path="simple.css", trailing_slash=false) }}">

    {% if config.extra.favicon %}
    <link rel="shortcut icon" href="{{ config.base_url }}{{ config.extra.favicon }}">
    {% endif %}

    <link rel="alternate" type="application/atom+xml" title="Calum Bird" href="{{ config.base_url }}/atom.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>

  <body>
      {% block content %} {% endblock %}
  </body>

</html>