{% extends "base.html" %}
{% block content %}

  <div class="wrapper">
    <header>
      <h3>{{ config.title }}</h3>

      <p>{{ config.description }}</p>

      <br>
      {%- if config.generate_feed -%}
      <a href="atom.xml"><img alt="RSS" height="32" width="32" src="{{ get_url(path="/imgs/rss.svg", trailing_slash=false) }}"></a>
      {%- endif -%}

    </header>

    <section>
          <br>
        {% for page in section.pages %}
          {{ page.date | date(format="%Y-%m-%d") }}<br>
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a><br>
          <br>
        {% endfor %}

    </section>
  </div>

{% endblock content %}
